{
  "printWidth": 100,
  "tabWidth": 2,
  "parser": "typescript",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always"
}
